<div class="mb-10">
  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= @post.title %></h5>
  <p><%= @post.body %></p>
</div>

<hr class="mt-10 mb-20 border-2 border-y-gray-400" />

<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Comments</h5>

<%= render partial: 'comments/form', locals: { comment: Comment.new, commentable: @post } %>

<hr class="mt-10 mb-20 border-2 border-y-gray-400" />

<%= turbo_frame_tag dom_id_for_records(@post, prefix: 'comments') do %>
  <%= render partial: "comments/comment", collection: @comments %>
<% end %>

<br/><br/><br/>